<%= bulma_form_with model: [taikai, staff], class: "participant" do |f| %>
  <%= f.errors %>

  <div class="field">
    <label class=" label" for="user"><%= Staff.human_attribute_name :user %></label>
    <div class="control">
      <div class="dropdown is-full-width is-active" data-controller="autocomplete participant_complete"
           data-autocomplete-url-value="<%= taikai_staff_available_users_path(taikai, staff) %>">
        <div class="dropdown-trigger">
          <%= f.hidden_field :user_id, "data-autocomplete-target": "hidden" %>
          <%= text_field_tag :user, staff.user&.email,
                class: "input#{staff.errors.where(:user).any? ? " is-danger" : ""}",
                autocomplete: "off", "data-autocomplete-target": "input",
                placeholder: t('.placeholders.user') %>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3">
          <div class="dropdown-content list-group" role="option" title="<%= t 'search_results' %>" data-autocomplete-target="results"></div>
        </div>
      </div>
      <% staff.errors.where(:user).map do |error| %>
        <p class="help is-danger"><%= error.full_message %></p>
      <% end %>
    </div>
  </div>

  <%= f.input :firstname, input_html: { placeholder: t('.placeholders.firstname') } %>
  <%= f.input :lastname, input_html: { placeholder: t('.placeholders.lastname') } %>
  <%= f.input :role_id, collection: StaffRole.all, value_method: :id, text_method: :label %>
  <%= f.input :participating_dojo_id, collection: taikai.participating_dojos, value_method: :id, text_method: :display_name, include_blank: true %>

  <%= f.button t('save'), class: "button has-background-light mr-3" %>
  <%= link_to t('cancel'), edit_taikai_path(taikai), class: "button" %>
<% end %>