<%= bulma_form_with model: [taikai, staff] do |f| %>
  <% if taikai.errors.any? %>
    <h2><%= pluralize(taikai.errors.count, "error") %> prohibited this dojo from being saved:</h2>
  <% end %>

  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <%= f.input :role_id, collection: StaffRole.all, value_method: :id, text_method: :label %>

  <div class="field">
    <label class=" label" for="user">User</label>
    <div class="control">
      <div class="dropdown is-active" data-controller="autocomplete"
           data-autocomplete-url-value="<%= taikai_staff_available_users_path(taikai, staff) %>">
        <div class="dropdown-trigger">
          <%= f.hidden_field :user_id, "data-autocomplete-target": "hidden" %>
          <%= text_field_tag :user, staff.user&.email, class: "input", autocomplete: "off", "data-autocomplete-target": "input", placeholder: "Start typing an email..." %>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
          <div class="dropdown-content list-group" data-autocomplete-target="results"></div>
        </div>
      </div>
    </div>
  </div>

  <%= f.button "Save", class: "button has-background-light mr-3" %>
  <%= link_to "Cancel", edit_taikai_path(taikai), class: "button" %>
<% end %>