
<table class="table is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr class="has-text-centered">
      <th><%= Staff.human_attribute_name :display_name %></th>
      <th><%= Staff.human_attribute_name :participating_dojo %></th>
      <th><%= Staff.human_attribute_name :role %></th>
      <th><%= Staff.human_attribute_name :user %></th>
      <th class="has-text-right">
        <%= link_to new_taikai_staff_path(taikai),
          class: "button is-small has-background-light",
          title: t('staffs.new') do %>
          <span class="icon is-small">
            <i class="fas fa-plus"></i>
          </span>
          <span><%= t 'new' %></span>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @taikai.staffs.ordered.each do |staff| %>
    <tr>
      <td><%= staff.display_name %></td>
      <td><%= staff.participating_dojo&.display_name %></td>
      <td><%= staff.role.label %></td>
      <td><%= staff.user&.display_name %></td>
      <td class="has-text-right">
        <%= link_to edit_taikai_staff_path(taikai, staff),
          class: "button is-small has-background-light",
          title: t('staffs.edit') do %>
          <span class="icon is-small">
            <i class="fas fa-pen"></i>
          </span>
        <% end %>
        <%= link_to [taikai, staff],
              class: "button is-small has-background-light",
              data: { turbo_method: 'delete', turbo_confirm: "Are you sure?" },
              title: t('staffs.delete') do %>
          <span class="icon is-small">
            <i class="far fa-trash-can"></i>
          </span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

