<div class="columns is-vcentered">
  <% if @matches[3] %>
  <div class="column is-one-third">
    <% @matches[3].each do |match| %>
      <%= render "match", match: match, taikai: taikai %>
    <% end  %>
  </div>
  <% end %>
  <% if @matches[2] %>
  <div class="column is-one-third">
    <% @matches[2].each_with_index do |match, index| %>
      <%= render "match", match: match, taikai: taikai %>
      <% if index == 0 %>
      <div class="mt-6 mb-6"><p>&nbsp;</p></div>
      <% end %>
    <% end %>
  </div>
  <% end %>
  <% if @matches[2] %>
  <div class="column is-one-third">
    <div class="mt-6 mb-6"><p>&nbsp;</p></div>
    <% @matches[1].each do |match| %>
      <%= render "match", match: match, taikai: taikai %>
    <% end %>
  </div>
  <% end %>
</div>

<% if @matches[1][0] && @matches[1][0].decided? && @matches[1][1]&& @matches[1][1].decided? %>
<table class="table is-narrow is-bordered is-striped has-text-centered">
  <thead>
    <tr>
      <th rowspan="2"><%= t '.rank' %></th>
      <th rowspan="2" colspan="2"><%= t '.name' %></th>
      <% taikai.num_rounds.times do |index| %>
      <th colspan="<%= taikai.num_arrows %>"><%= t '.round', index: index + 1 %></th>
      <% end %>
      <th rowspan="2"><%= t '.score' %></th>
      <th rowspan="2"><%= t '.team_score' %></th>
    </tr>
    <tr>
      <% taikai.total_num_arrows.times do |index| %>
        <th><%= index + 1 %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% rank = 0 %>
    <% teams_by_score.each do |team, match, score| %>
    <%     rank += 1 %>
      <% team.participants.each_with_index do |participant, participant_index| %>
        <tr>
          <% if participant_index == 0 %>
            <th rowspan="<%= team.participants.size %>" class="has-text-centered"><%= display_rank taikai, team, rank %></th>
            <td rowspan="<%= team.participants.size %>" class="has-text-left"><%= team.participating_dojo.display_name %> - <%= team.shortname %></td>
          <% end %>
          <td class="has-text-left"><%= participant.display_name %></td>
          <% participant.scores.joins(:match).where("matches.level": 1).first.results.each do |result| %>
            <td><%= icon_from(result, final) %></td>
          <% end %>
          <td><%= display_score participant.score(match.id).score_value(final), false %></td>
          <% if participant_index == 0 %>
            <th rowspan="<%= team.participants.size %>"><%= display_score score, false %></th>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>