<table class="table is-narrow is-bordered is-striped has-text-centered">
  <thead>
    <tr>
      <th rowspan="2"><%= t '.rank' %></th>
      <th rowspan="2" colspan="3"><%= t '.name' %></th>
      <% taikai.num_rounds.times do |index| %>
      <th colspan="<%= taikai.num_arrows %>"><%= t '.round', index: index + 1 %></th>
      <% end %>
      <th rowspan="2"><%= t '.score' %></th>
      <th rowspan="2"><%= t '.team_score' %></th>
    </tr>
    <tr>
      <% taikai.total_num_arrows.times do |index| %>
        <th><%= index + 1 %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% rank = 0 %>
    <% teams_by_score.each_pair do |score, teams| %>
    <%   teams.each_with_index do |team, team_index| %>
    <%     rank += 1 %>
      <tr>
        <% team.participants.each_with_index do |participant, participant_index| %>
          <% if team_index == 0 && participant_index == 0 %>
            <th rowspan="<%= teams.sum {|t| t.participants.size } %>" class="has-text-centered"><%= display_rank taikai, team, rank %></th>
          <% end %>
          <% if participant_index == 0 %>
            <td rowspan="<%= team.participants.size %>"><%= team.index %></td>
            <td rowspan="<%= team.participants.size %>" class="has-text-left">
              <% if taikai.distributed %><%= team.participating_dojo.display_name %> - <% end%>
              <%= team.shortname %>
            </td>
          <% end %>
          <td class="has-text-left"><%= participant.display_name %></td>
          <%# TODO: make this less brittle, in this scenario, we should have only one score %>
          <% participant.scores.first.results.each do |result| %>
          <td><%= icon_from(result, final) %></td>
          <% end %>
          <td><%= display_score participant.score(final), taikai.scoring_enteki? %></td>
          <% if team_index == 0 && participant_index == 0 %>
            <th rowspan="<%= teams.sum {|t| t.participants.size } %>"><%= display_score score, taikai.scoring_enteki? %></th>
          <% end %>
      </tr>
    <%     end %>
    <%   end %>
    <% end %>
  </tbody>
</table>
