  <h1 class="title"><%= t '.title', taikai: @taikai.shortname %></h1>

  <% if @taikai.form_2in1? %>
    <% if defined? @teams_by_score %>
      <p class="mb-6">
        <%= link_to t('.individual'), leaderboard_public_taikai_path(@taikai, individual: true), class: "button is-primary" %>
      </p>
      <%= render 'team', taikai: @taikai, teams_by_score: @teams_by_score, final: @final  %>
    <% else %>
      <p class="mb-6">
        <%= link_to t('.team'), leaderboard_public_taikai_path(@taikai), class: "button is-primary" %>
      </p>
      <%= render 'individual', taikai: @taikai, participants_by_score: @participants_by_score, final: @final %>
    <% end %>
  <% elsif @taikai.form_individual? %>
    <%= render 'individual', taikai: @taikai, participants_by_score: @participants_by_score, final: @final %>
  <% elsif @taikai.form_matches? %>
    <%= render 'matches', taikai: @taikai, teams_by_score: @teams_by_score, final: @final  %>
  <% else %>
    <%= render 'team', taikai: @taikai, teams_by_score: @teams_by_score, final: @final  %>
  <% end %>
