<div class="container">
  <div class="columns">
    <div class="column is-one-third is-offset-one-third">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Update your account</p>
        </header>
        <div class="card-content">
          <%= bulma_form_for resource, as: resource_name, url: registration_path(resource_name), data: {
                  turbo_method: :put
                } do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <%
              if devise_mapping.confirmable? && resource.pending_reconfirmation?
                help = "Currently waiting confirmation for: #{resource.unconfirmed_email}"
              end
            %>
            <%= f.input :email, autofocus: true, autocomplete: :email, help: help %>
            <%= f.input :firstname %>
            <%= f.input :lastname %>

            <%= f.input :password, autocomplete: "new-password",
                        placeholder: "Leave blank if you don't want to change it",
                        help: (@minimum_password_length ? "#{@minimum_password_length} characters minimum)" : nil) %>

            <%= f.input :password_confirmation, autocomplete: "new-password" %>

            <%= f.input :current_password, autocomplete: "current-password",
                        help: "(we need your current password to confirm your changes)" %>

            <%= f.button "Update", class: "button has-background-light" %>
          <% end %>
        </div>
        <footer class="card-content">
          <%= render "devise/shared/links" %>
        </footer>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Cancel my account</p>
        </header>
        <div class="card-content">
          <%= bulma_form_for resource,
                html: { id: "cancel_account"},
                as: resource_name,
                url: registration_path(resource_name),
                data: { turbo_method: 'delete', turbo_confirm: t('confirm_html')} do |f| %>
            <p class="subtitle">Unhappy? </p>
            <%= f.input :current_password, autocomplete: "current-password",
                        help: "(We need your current password to confirm your changes)",
                        input_html: { id: "current_password_cancel" } %>

            <%= f.button "Cancel my account", class: "button has-background-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>