<div class="container">
  <div class="columns">
    <div class="column is-one-third is-offset-one-third">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"><%= t('.title', resource: resource.model_name.human) %></p>
        </header>
        <div class="card-content">
          <%= bulma_form_for resource, as: resource_name, url: registration_path(resource_name), data: {
                  turbo_method: :put
                } do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <%
              if devise_mapping.confirmable? && resource.pending_reconfirmation?
                help = t('.currently_waiting_confirmation_for_email')
              end
            %>
            <%= f.input :email, input_html: { autofocus: true }, autocomplete: :email, help: help %>
            <%= f.input :firstname %>
            <%= f.input :lastname %>

            <%= f.input :password, autocomplete: "new-password",
                        placeholder: t('.leave_blank_if_you_don_t_want_to_change_it'),
                        help: (@minimum_password_length ? "#{@minimum_password_length} characters minimum)" : nil) %>

            <%= f.input :password_confirmation, autocomplete: "new-password" %>

            <%= f.input :current_password, autocomplete: "current-password",
                        help: t('.we_need_your_current_password_to_confirm_your_changes') %>

            <%= f.input :locale, as: :select, collection: I18n::available_locales.map {|l| [l, t('language_name', locale: l)]},
                        value_method: :first, text_method: :last %>

            <%= f.button t('.update'), class: "button has-background-light" %>
          <% end %>
        </div>
        <footer class="card-content">
          <%= render "devise/shared/links" %>
        </footer>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"><%= t('.cancel_my_account') %></p>
        </header>
        <div class="card-content">
          <%= bulma_form_for resource,
                html: { id: "cancel_account"},
                as: resource_name,
                url: registration_path(resource_name),
                data: { turbo_method: 'delete', turbo_confirm: t('confirm_html')} do |f| %>
            <p class="subtitle"><%= t('.unhappy') %></p>
            <%= f.input :current_password, autocomplete: "current-password",
                        help: t('.we_need_your_current_password_to_confirm_your_changes'),
                        input_html: { id: "current_password_cancel" } %>

            <%= f.button t('.cancel_my_account'), class: "button has-background-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>