<% if @dojos.empty? %>
  <div class="dropdown-item" class="list-group-item" role="option" aria-disabled="true">
    <p>No dojos matching your criteria</p>
  </div>
<% end %>
<% @dojos.each do |dojo| %>
  <div class="dropdown-item" class="list-group-item" role="option" data-autocomplete-value="<%= dojo.id %>" data-autocomplete-label="<%= dojo.shortname %>">
    <p><%= dojo.shortname %> | <%= dojo.name %></p>
    <p><%= dojo.city.blank? ? "" : "#{dojo.city} | " %><%= dojo.country_name %></p>
  </div>
<% end %>