<div class="container">
  <h1 class="title"><%= t '.title', taikai: @taikai.shortname %></h1>

  <p class="mb-3">
    <%= link_to t('.back'), taikai_path(@taikai), class: "button is-light" %>
    <% if @taikai.form_2in1? %>
      <% if params[:individual] == "true" %>
        <%= link_to t('.team'), taikai_tie_break_index_path(@taikai, params: {individual: false}), class: "button is-light" %>
      <% else %>
        <%= link_to t('.individual'), taikai_tie_break_index_path(@taikai, params: {individual: true}), class: "button is-light" %>
      <% end %>
    <% end %>
  </p>

<table class="table is-narrow is-bordered is-striped has-text-centered">
  <thead>
    <tr>
      <th><%= t '.intermediate_rank' %></th>
      <th><%= t '.display_name' %></th>
      <th><%= t '.rank' %></th>
    </tr>
  </thead>
  <tbody>
    <% @rankables.each do |score, rankables|
        rankables.sort_by! { |rankable| [rankable.rank, rankable.index]}
    %>
      <% rankables.each_with_index do |rankable, index| %>
        <tr>
          <% if index.zero? %>
            <th class="has-text-centered" rowspan="<%= rankables.size %>"><%= rankable.intermediate_rank %></th>
          <% end %>
          <td class="has-text-left"><%= rankable.display_name %></td>
          <th class="has-text-centered">
            <% if rankables.size > 1 %>
              <%= bulma_form_for rankable, url: taikai_tie_break_path(@taikai, rankable), html: { method: :patch } do |f| %>
                <%= hidden_field_tag :individual, @individual %>
                <div class="select is-small">
                  <%= select_tag :rank,
                        options_for_select((rankable.intermediate_rank..(rankable.intermediate_rank + rankables.size - 1)), rankable.rank),
                        onchange: "this.form.requestSubmit()"
                        %>
                </div>
              <% end %>
            <% else %>
              <%= rankable.rank %>
            <% end %>
          </th>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>