<%
  if team
    form_path = [taikai, participating_dojo, team, participant]
    cancel_path = edit_taikai_participating_dojo_team_path(taikai, participating_dojo, team)
  else
    form_path = [taikai, participating_dojo, participant]
    cancel_path = edit_taikai_participating_dojo_path(taikai, participating_dojo)
  end
%>

<%= bulma_form_with model: form_path do |f| %>
  <% if participant.errors.any? %>
    <h2><%= pluralize(participant.errors.count, "error") %> prohibited this participant from being saved:</h2>
  <% end %>

  <div class="field">
    <label class=" label" for="user"><%= t('.search_kyudojin') %></label>
    <div class="control">
      <div class="dropdown is-active" data-controller="autocomplete participant_complete"
           data-autocomplete-url-value="<%= search_kyudojins_path %>">
        <div class="dropdown-trigger">
          <%= f.hidden_field :kyudojin_id, "data-autocomplete-target": "hidden" %>
          <%= text_field_tag :kyudojin_name, participant.kyudojin&.display_name,
                class: "input#{participant.errors.where(:kyudojin).any? ? " is-danger" : ""}",
                autocomplete: "off",
                "data-autocomplete-target": "input",
                placeholder: t('.placeholders.kyudojin') %>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3">
          <div class="dropdown-content list-group" role="option" title="<%= t 'search_results' %>" data-autocomplete-target="results"></div>
        </div>
      </div>
      <% participant.errors.where(:kyudojin).map do |error| %>
        <p class="help is-danger"><%= error.full_message %></p>
      <% end %>
      <p class="help"><%= t '.help.kyudojin' %></p>
    </div>
  </div>

  <div class="is-divider" data-content="<%= t 'or_divider' %>"></div>

  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <%= f.input :club %>
  <% if @taikai.form_individual? %>
  <%= f.input :index %>
  <% end %>

  <%= f.button t('save'), class: "button has-background-light mr-3" %>
  <%= link_to t('cancel'), cancel_path, class: "button" %>
<% end %>