<%
  if team
    form_path = [taikai, participating_dojo, team, participant]
    cancel_path = edit_taikai_participating_dojo_team_path(taikai, participating_dojo, team)
  else
    form_path = [taikai, participating_dojo, participant]
    cancel_path = edit_taikai_participating_dojo_path(taikai, participating_dojo)
  end
%>

<%= bulma_form_with model: form_path do |f| %>
  <% if participant.errors.any? %>
    <h2><%= pluralize(participant.errors.count, "error") %> prohibited this participant from being saved:</h2>
  <% end %>

  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <% if @taikai.individual %>
  <%= f.input :index %>
  <% else %>
  <%= f.input :index_in_team %>
  <% end %>

  <%= f.button "Save", class: "button has-background-light mr-3" %>
  <%= link_to "Cancel", cancel_path, class: "button" %>
<% end %>