<table class="table is-narrow is-hoverable is-fullwidth is-size-6">
  <thead>
    <tr class="has-text-centered">
      <th title="<%= t('activerecord.attributes.participant.index_title') %>"><%= Participant.human_attribute_name :index %></th>
      <th><%= Participant.human_attribute_name :firstname %></th>
      <th><%= Participant.human_attribute_name :lastname %></th>
      <th><%= Participant.human_attribute_name :club %></th>
      <th></th>
      <th class="has-text-right">
        <%= link_to new_taikai_participating_dojo_participant_path(taikai, participating_dojo),
                    class: "button is-small has-background-light",
                    title: t('participants.new.title') do %>
          <span class="icon is-small">
            <i class="fas fa-plus"></i>
          </span>
          <span><%= t :new %></span>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% participating_dojo.participants.each do |participant| %>
    <tr>
      <td><%= participant.index %></td>
      <td><%= participant.firstname %></td>
      <td><%= participant.lastname %></td>
      <td><%= participant.club %></td>
      <td><% if participant.kyudojin %><i class="far fa-id-badge"></i><% end %></td>
      <td>
        <%= link_to edit_taikai_participating_dojo_participant_path(taikai, participating_dojo, participant),
                    class: "button is-small has-background-light",
                    title: t('participants.edit.title') do %>
          <span class="icon is-small">
            <i class="fas fa-pen"></i>
          </span>
        <% end %>
        <%= link_to [taikai, participating_dojo, participant],
                    class: "button is-small has-background-light",
                    data: { turbo_method: 'delete', turbo_confirm: t('confirm_html') },
                    title: t('participants.destroy.title') do %>
          <span class="icon is-small">
            <i class="fas fa-trash"></i>
          </span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>