<%
  if team
    new_path = new_taikai_participating_dojo_team_participant_path(taikai, participating_dojo, team)
  else
    new_path = new_taikai_participating_dojo_participant_path(taikai, participating_dojo)
  end
%>
<table class="table is-narrow is-hoverable">
  <thead>
    <tr class="has-text-centered">
      <th><%= Participant.human_attribute_name :index %></th>
      <th><%= Participant.human_attribute_name :firstname %></th>
      <th><%= Participant.human_attribute_name :lastname %></th>
      <th class="has-text-right">
        <%= link_to new_path, class: "button is-small has-background-light",
              title: t('participants.new.title') do %>
          <span class="icon is-small">
            <i class="fas fa-plus"></i>
          </span>
          <span><%= t :new %></span>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%
      participants = team ? team.participants : participating_dojo.participants
      participants.each do |participant|
        if team
          edit_path = edit_taikai_participating_dojo_team_participant_path(taikai, participating_dojo, team, participant)
          delete_path = [taikai, participating_dojo, team, participant]
        else
          edit_path = edit_taikai_participating_dojo_participant_path(taikai, participating_dojo, participant)
          delete_path = [taikai, participating_dojo, participant]
        end
    %>
    <tr>
      <% if taikai.individual? %>
      <td><%= participant.index %></td>
      <% else %>
      <td><%= participant.index_in_team %></td>
      <% end %>
      <td><%= participant.firstname %></td>
      <td><%= participant.lastname %></td>
      <td>
        <%
          if team
            path = edit_taikai_participating_dojo_team_participant_path(taikai, participating_dojo, team, participant)
          else
            path = edit_taikai_participating_dojo_participant_path(taikai, participating_dojo, participant)
          end
        %>
        <%= link_to edit_path, class: "button is-small has-background-light",
              title: t('participants.edit.title') do %>
          <span class="icon is-small">
            <i class="fas fa-pen"></i>
          </span>
        <% end %>
        <%= link_to delete_path,
              class: "button is-small has-background-light",
              data: { turbo_method: 'delete', turbo_confirm: t('confirm_html') },
              title: t('participants.delete.title') do %>
          <span class="icon is-small">
            <i class="far fa-trash-can"></i>
          </span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>