<table class="table is-narrow is-hoverable">
  <thead>
    <tr class="has-text-centered">
      <th>Firstname</th>
      <th>Lastname</th>
      <th>T./L.</th>
      <th class="has-text-right">
        <%= link_to new_taikai_participating_dojo_participant_path(taikai, participating_dojo), class: "button is-small has-background-light" do %>
          <span class="icon is-small">
            <i class="fas fa-plus"></i>
          </span>
          <span>New</span>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% participating_dojo.participants.each do |participant| %>
    <tr>
      <td><%= participant.firstname %></td>
      <td><%= participant.lastname %></td>
      <td><%= [participant.title, participant.level].compact.join "/" %></td>
      <td>
        <%= link_to edit_taikai_participating_dojo_participant_path(taikai, participating_dojo, participant), class: "button is-small has-background-light" do %>
          <span class="icon is-small">
            <i class="fas fa-pen"></i>
          </span>
        <% end %>
        <%= link_to [taikai, participating_dojo, participant], method: :delete,
                    class: "button is-small has-background-light", data: { confirm: "Are you sure?" } do %>
          <span class="icon is-small">
            <i class="far fa-trash-can"></i>
          </span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>