<div class="container">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"><%= t('.forgot_your_password') %></p>
        </header>
        <div class="card-content">
          <%= bulma_form_for resource, as: resource_name, url: password_path(resource_name), html: { "data-turbo":  false, method: :post } do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <%= f.input :email, input_html: { autofocus: true }, autocomplete: :email %>

            <%= f.button t('.send_me_reset_password_instructions'), class: "button has-background-light" %>
          <% end %>
        </div>
        <footer class="card-content">
          <%= render "devise/shared/links" %>
        </footer>
      </div>
    </div>
  </div>
</div>