<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title"><%= Taikai.model_name.human.pluralize %></p>
        <p><%= t '.taikais_summary', nb: @num_dojos %></p>
        <div class="buttons mt-4">
          <%= link_to t('.manage_taikais'), taikais_path, class: "button" %>
        </div>
      </div>
    </div>
    <div class="tile is-4 is-parent">
      <div class="tile is-child box">
        <p class="title"><%= Dojo.model_name.human.pluralize %></p>
        <p><%= t '.dojos_summary', nb: @num_dojos %></p>
        <div class="buttons mt-4">
          <%= link_to t('.manage_dojos'), dojos_path, class: "button" %>
        </div>
      </div>
    </div>
  </div>
</div>