<%= bulma_form_with model: [taikai, participating_dojo] do |f| %>
  <% if participating_dojo.errors.any? %>
    <h2><%= pluralize(participating_dojo.errors.count, "error") %> prohibited this participating_dojo from being saved</h2>
  <% end %>

  <div class="field">
    <label class=" label" for="dojo_name">Associated Dojo</label>
    <div class="control">
      <div class="dropdown is-active" data-controller="autocomplete"
           data-autocomplete-url-value="<%= taikai_participating_dojo_available_dojos_path(taikai, participating_dojo) %>">
        <div class="dropdown-trigger">
          <%= f.hidden_field :dojo_id, "data-autocomplete-target": "hidden" %>
          <%= text_field_tag "dojo[name]", participating_dojo.dojo&.name, class: "input", autocomplete: "off", "data-autocomplete-target": "input", placeholder: "Start typing a name..." %>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
          <div class="dropdown-content list-group" data-autocomplete-target="results"></div>
        </div>
      </div>
    </div>
  </div>

  <%= f.input :display_name, input_html: { placeholder: "Leave empty or override the dojo's name" } %>

  <%= f.button "Save", class: "button has-background-light mr-3" %>
  <%= link_to "Cancel", edit_taikai_path(taikai), class: "button" %>
<% end %>