<table class="table is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr class="has-text-centered">
      <th><%= ParticipatingDojo.human_attribute_name :display_name %></th>
      <th><%= ParticipatingDojo.human_attribute_name :city %></th>
      <th><%= ParticipatingDojo.human_attribute_name :country %></th>
      <th title="<%= t('activerecord.attributes.participating_dojo.num_participants_title') %>"><%= ParticipatingDojo.human_attribute_name :num_participants %></th>
      <th class="has-text-right">
        <%= link_to new_taikai_participating_dojo_path(taikai),
          class: "button is-small has-background-light",
          title: t('participating_dojos.new.title') do %>
          <span class="icon is-small">
            <i class="fas fa-plus"></i>
          </span>
          <span><%= t 'new' %></span>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% taikai.participating_dojos.each do |participating_dojo| %>
    <tr>
      <td><%= participating_dojo.display_name %></td>
      <td><%= participating_dojo.dojo.city %></td>
      <td><%= participating_dojo.dojo.country_name %></td>
      <td><%= participating_dojo.participants.count %></td>
      <td class="has-text-right">
        <%= link_to edit_taikai_participating_dojo_path(taikai, participating_dojo),
              class: "button is-small has-background-light",
              title: t('participating_dojos.edit.title') do %>
          <span class="icon is-small">
            <i class="fas fa-pen"></i>
          </span>
        <% end if policy(participating_dojo).update? %>
        <%= link_to [taikai, participating_dojo],
              class: "button is-small has-background-light",
              data: { turbo_method: 'delete', turbo_confirm: t('confirm_html') },
              title: t('participating_dojos.destroy.title') do %>
          <span class="icon is-small">
            <i class="far fa-trash-can"></i>
          </span>
        <% end if policy(participating_dojo).destroy? %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>