<table class="table is-narrow is-hoverable">
  <thead>
    <tr class="has-text-centered">
      <th>Name</th>
      <th>Country</th>
      <th>#</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @taikai.participating_dojos.each do |participating_dojo| %>
    <tr>
      <td><%= participating_dojo.display_name %></td>
      <td><%= participating_dojo.dojo.country_name %></td>
      <td><%= participating_dojo.participants.count %></td>
      <td>
        <%= link_to edit_taikai_participating_dojo_path(taikai, participating_dojo),
                    class: "button is-small" do %>
          <span class="icon is-small">
            <i class="fas fa-pen"></i>
          </span>
        <% end %>
        <%= link_to [taikai, participating_dojo], method: :delete,
                    class: "button is-small", data: { confirm: "Are you sure?" } do %>
          <span class="icon is-small is-small">
            <i class="far fa-trash-can"></i>
          </span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>