<div class="container">
  <div class="columns">
    <div class="column is-one-third is-offset-2">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"><%= t '.title' %></p>
        </header>
        <div class="card-content">
          <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
            <ul>
              <li><%= link_to @taikai.shortname, edit_taikai_path(@taikai) %></li>
              <li class=is-active><%= link_to @participating_dojo.display_name,
                              edit_taikai_participating_dojo_path(@taikai, @participating_dojo),
                              "aria-current": "page" %></li>
            </ul>
          </nav>
          <%= render "form", taikai: @taikai, participating_dojo: @participating_dojo %>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"><%= ParticipatingDojo.model_name.human count: 2 %></p>
        </header>
        <div class="card-content">
          <p>
            <b><%= Dojo.human_attribute_name :shortname %></b>:
            <%= @participating_dojo.dojo.shortname %>
          </p>
          <p>
            <b><%= Dojo.human_attribute_name :name %></b>:
            <%= @participating_dojo.dojo.name %>
          </p>
          <% unless @participating_dojo.dojo.city.blank? %>
            <b><%= Dojo.human_attribute_name :city %></b>:
            <%= @participating_dojo.dojo.city %>
          <% end %>
          <p>
            <b><%= Dojo.human_attribute_name :country %></b>:
            <%= @participating_dojo.dojo.country_name %>
          </p>
        </div>
      </div>
      <% if @taikai.individual %>
      <div class="card mt-5">
        <header class="card-header">
          <p class="card-header-title"><%= Participant.model_name.human count: 2 %></p>
        </header>
        <div class="card-content">
          <%= render "participants/list", taikai: @taikai, participating_dojo: @participating_dojo, team: nil %>
        </div>
      </div>
      <% else %>
      <div class="card mt-5">
        <header class="card-header">
          <p class="card-header-title"><%= Team.model_name.human count: 2 %></p>
        </header>
        <div class="card-content">
          <%= render "teams/list", taikai: @taikai, participating_dojo: @participating_dojo %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
