<%
  results = results.select { |result| result.match == match }
  verifying = !results.first.final && results.count {|r| r.known? } == 4
%>
<div id="<%= dom_id participant, results.first.round %>" class="level is-mobile<%= (!results.any?(&:status) || results.any?(&:final)) ? "" : " mx-0" %>">
  <div class="level-left">
    <% results.each do |result| %>
      <% if result.status %>
        <% if result.final? %>
          <span class="button is-small is-light" 
                style="padding-left: 3pt; padding-right: 3pt; margin-right: 1pt"
                title="<%= Result.human_enum_value(:status, result.status) %>">
            <%= full_icon_from(result) %>
          </span>
        <% else %>
          <%= button_to rotate_marking_path(@taikai, participant, result, status: result.status, match_id: match&.id),
                        method: :patch,
                        class: "button is-small is-light is-link",
                        title: Result.human_enum_value(:status, result.status) do %>
            <%= full_icon_from(result) %>
          <% end %>
        <% end %>
      <% else %>
        <span class="icon is-small" title="Not yet defined">&nbsp;</span>
      <% end %>
      </a>
    <% end %>
  </div>
  <% if verifying %>
    <div class="level-right">
      <%= button_to finalize_round_marking_path(@taikai, participant, round: results.first.round, match_id: match&.id),
                    method: :patch,
                    class: "button is-small has-background-info ml-2",
                    title: t('.finalize_round', index: results.first.round) do %>
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
      <% end %>
    </div>
  <% end %>
</div>