<div class="container">
  <h1 class="title"><%= t '.title', taikai: @taikai.shortname %></h1>
  <table class="table is-narrow is-striped is-bordered">
    <thead>
      <tr class="has-text-centered">
        <th><%= Dojo.model_name.human %></th>
        <% if @taikai.individual? %>
        <th><%= Participant.human_attribute_name :index %></th>
        <% else %>
        <th><%= Team.model_name.human %></th>
        <% end %>
        <th><%= Participant.human_attribute_name :display_name %></th>
        <th><%= t '.input' %></th>
        <% @taikai.num_rounds.times do |index| %>
          <th colspan="2"><%= t '.round', index: index + 1 %></th>
        <% end %>
        <th colspan="<%= @taikai.individual? ? 1 : 2 %>"><%= t '.score' %></th>
      </tr>
    </thead>
    <tbody>
      <%= render "participant_lines" %>
    </tbody>
  </table>
</div>