<div class="container">
  <div class="columns">
    <div class="column is-one-third is-offset-one-third">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Log in</p>
        </header>
        <div class="card-content">
          <%= bulma_form_for resource, as: resource_name, url: session_path(resource_name), html: { "data-turbo":  false } do |f| %>

            <%= f.input :email, autofocus: true, autocomplete: :email %>
            <%= f.input :password, autocomplete: "current-password" %>

            <% if devise_mapping.rememberable? %>
              <%= f.input :remember_me, as: :boolean %>
            <% end %>

            <%= f.button "Log in", class: "button has-background-light" %>
          <% end %>
        </div>
        <footer class="card-content">
          <%= render "devise/shared/links" %>
        </footer>
      </div>
    </div>
  </div>
</div>