<%= bulma_form_with model: dojo do |f| %>
  <% if dojo.errors.any? %>
    <h2><%= pluralize(dojo.errors.count, "error") %> prohibited this dojo from being saved:</h2>
  <% end %>

  <%= f.input :shortname %>
  <%= f.input :name %>
  <%= f.input :city %>
  <%= f.input :country_code, collection: @countries,
              value_method: :first, text_method: :last %>

  <%= f.button t('save'), class: "button has-background-light mr-3" %>
  <%= link_to t('cancel'), dojos_path, class: "button" %>
<% end %>
