<div class="container">
  <div class="columns">
    <div class="column is-two-third is-offset-2">
      <h1 class="title"><%= t '.title' %></h1>

      <table class="table">
        <thead>
          <tr class="has-text-centered">
            <th><%= Dojo.human_attribute_name :shortname %></th>
            <th><%= Dojo.human_attribute_name :name %></th>
            <th><%= Dojo.human_attribute_name :city %></th>
            <th><%= Dojo.human_attribute_name :country_name %></th>
            <th>
              <%= link_to new_dojo_path,
                    class: "button is-small has-background-light",
                    title: t('dojos.new.title') do %>
                <span class="icon is-small">
                  <i class="fas fa-plus"></i>
                </span>
                <span><%= t :new %></span>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @dojos.each do |dojo| %>
          <tr>
            <td><%= link_to dojo.shortname, edit_dojo_path(dojo) %></td>
            <td><%= dojo.name %></td>
            <td><%= dojo.city %></td>
            <td><%= dojo.country_name %></td>
            <td>
              <%= link_to edit_dojo_path(dojo),
                    class: "button is-small has-background-light",
                    title: t('dojos.edit.title') do %>
                <span class="icon is-small">
                  <i class="fas fa-pen"></i>
                </span>
              <% end %>
              <%= link_to dojo,
                    class: "button is-small has-background-light",
                    data: { turbo_method: 'delete', turbo_confirm: t('confirm_html') },
                    title: t('dojos.destroy.title') do %>
                <span class="icon is-small">
                  <i class="fas fa-trash"></i>
                </span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>