<%= bulma_form_with model: [taikai, match] do |f| %>
  <% if match.errors.any? %>
    <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>
  <% end %>

  <%= f.input :level, input_html: { disabled: true } %>
  <%= f.input :index, input_html: { disabled: true } %>
  <%= f.input :winner, as: :select, collection: [1, 2] %>

  <%= f.button t('save'), class: "button has-background-light mr-3" %>
  <%= link_to t('cancel'), dojos_path, class: "button" %>
<% end %>
