<%= bulma_form_with model: taikai do |f| %>
  <% if taikai.errors.any? %>
    <h2><%= pluralize(taikai.errors.count, "error") %> prohibited this taikai from being saved:</h2>
  <% end %>

  <%= f.input :shortname %>
  <%= f.input :name %>
  <%= f.input :description, input_html: { rows: 5 }, as: :text %>
  <%= f.input :start_date, html5: true %>
  <%= f.input :end_date, html5: true %>

  <%= f.input :distributed %>
  <%= f.input :individual %>

  <%= f.button t('save'), class: "button has-background-light mr-3", disabled: taikai.id && !policy(taikai).update? %>
  <%= link_to t('cancel'), root_path, class: "button" %>
<% end %>