<div class="container">
  <div class="columns">
    <div class="column is-two-third is-offset-2">
      <h1 class="title">Taikais</h1>

      <div class="buttons">
        <%= link_to "New", new_taikai_path, class: "button is-primary" %>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Short Name</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @taikais.each do |taikai| %>
          <tr>
            <td>
              <% if taikai.distributed %>
                <span class="icon is-small">
                  <i class="fas fa-globe"></i>
                </span>
              <% end %>
            </td>
            <td><%= taikai.shortname %></td>
            <td><%= taikai.name %></td>
            <td><%= l taikai.start_date, format: :long %></td>
            <td><%= l taikai.end_date, format: :short %></td>
            <td>
              <%= link_to edit_taikai_path(taikai), class: "button is-small is-outlined" do %>
                <span class="icon is-small">
                  <i class="fas fa-pen"></i>
                </span>
              <% end %>
              <%= link_to taikai, method: :delete,
                          class: "button is-small is-outlined", data: { confirm: "Are you sure?" } do %>
                <span class="icon is-small">
                  <i class="fas fa-times"></i>
                </span>
              <% end %>
              <%= link_to judging_index_path(taikai), class: "button is-small is-outlined" do %>
                <span class="icon is-small">
                  <i class="far fa-circle-dot"></i>
                </span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>