<div class="container">
  <div class="columns">
    <div class="column is-three-fifths is-offset-2">
      <h1 class="title">Taikais</h1>

      <table class="table is-fullwidth">
        <thead>
          <tr class="has-text-centered">
            <th></th>
            <th>Short Name</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th class="has-text-right">
              <%= link_to new_taikai_path, class: "button is-small has-background-light" do %>
                <span class="icon is-small">
                  <i class="fas fa-plus"></i>
                </span>
                <span>New</span>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @taikais.each do |taikai| %>
          <tr>
            <td>
              <% if taikai.distributed %>
                <span class="icon is-small">
                  <i class="fas fa-globe"></i>
                </span><% end %>&nbsp;<% if !taikai.individual %><span class="icon is-small">
                  <i class="fas fa-users"></i>
                </span>
              <% end %>
            </td>
            <td><%= taikai.shortname %></td>
            <td><%= taikai.name %></td>
            <td><%= l taikai.start_date, format: :long %></td>
            <td><%= l taikai.end_date, format: :short %></td>
            <td class="has-text-right">
              <%= link_to edit_taikai_path(taikai), class: "button is-small has-background-light", title: "Edit" do %>
                <span class="icon is-small">
                  <i class="fas fa-pen"></i>
                </span>
              <% end if policy(taikai).update? %>
              <%= link_to taikai, method: :delete,
                          class: "button is-small has-background-light",
                          data: { confirm: "Are you sure?" },
                          title: "Delete" do %>
                <span class="icon is-small">
                  <i class="far fa-trash-can"></i>
                </span>
              <% end if policy(taikai).update? %>
              <%= link_to judging_index_path(taikai),
                          class: "button is-small has-background-light ml-3",
                          title: "Judging" do %>
                <span class="icon is-small">
                  <i class="far fa-circle-dot"></i>
                </span>
              <% end %>
              <%= link_to leaderboard_index_path(taikai),
                          class: "button is-small has-background-light",
                          title: "Leader board" do %>
                <span class="icon is-small">
                  <i class="fas fa-medal"></i>
                </span>
              <% end %>
              <%= link_to taikai_export_path(taikai),
                          class: "button is-small has-background-light",
                          title: "Export to Excel" do %>
                <span class="icon is-small">
                  <i class="fas fa-file-excel"></i>
                </span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>