<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= @taikai.name %> (<%= @taikai.shortname %>)</p>
        <p class="subtitle is-6"><%= l @taikai.start_date %> - <%= l @taikai.end_date %></p>
        <p><%= @taikai.description %></p>
      </div>
      <div class="media-right">
        <%= render "icons", taikai: @taikai, size: "" %>
      </div>
    </div>

    <div class="content">
      <div class="columns">
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <%= Participant.model_name.human.pluralize %>
              </p>
            </header>
            <div class="card-content">
              <table class="table is-narrow">
                <thead>
                  <tr class="has-text-centered">
                    <th><%= Participant.human_attribute_name :participating_dojo %></th>
                    <% if @taikai.individual? %>
                    <th><%= Team.human_attribute_name :index %></th>
                    <% else %>
                    <th><%= Participant.human_attribute_name :index %></th>
                    <th><%= Participant.human_attribute_name :team %></th>
                    <% end %>
                    <th><%= Participant.human_attribute_name :display_name %></th>
                  </tr>
                </thead>
                <tbody>
                  <% if @taikai.individual? %>
                  <%
                    @taikai.participating_dojos.each_with_index do |dojo, dojo_index|
                      dojo.participants.each_with_index do |participant, participant_index|
                  %>
                  <tr>
                    <% if participant_index == 0 %>
                    <td rowspan="<%= dojo.participants.size %>"><%= dojo.display_name %></td>
                    <% end %>
                    <td><%= participant.index %></td>
                    <td><%= participant.display_name %></td>
                    <td><% if participant.kyudojin %><i class="far fa-id-badge"></i><% end %></td>
                  </tr>
                  <%
                      end
                    end
                  %>
                  <% else %>
                  <%
                    @taikai.participating_dojos.each_with_index do |dojo, dojo_index|
                      dojo.teams.each_with_index do |team, team_index|
                        team.participants.each_with_index do |participant, participant_index|
                  %>
                  <tr>
                    <% if team_index == 0 && participant_index == 0 %>
                    <td rowspan="<%= dojo.participants.size %>"><%= dojo.display_name %></td>
                    <% end %>
                    <% if participant_index == 0 %>
                    <td rowspan="<%= team.participants.size %>"><%= team.index %></td>
                    <td rowspan="<%= team.participants.size %>"><%= team.shortname %></td>
                    <% end %>
                    <td><%= participant.display_name %><%= participant.kyudojin ? " (#{participant.kyudojin.federation_club})" : "" %></td>
                  </tr>
                  <%
                        end
                      end
                    end
                  %>
                  <% end %>
                  <tr>
                    <td></td>
                    <% unless @taikai.individual? %>
                    <td></td>
                    <% end %>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title"><%= Staff.model_name.human.pluralize %></p>
            </header>
            <div class="card-content">
              <table class="table is-narrow">
                <thead>
                  <tr class="has-text-centered">
                    <th><%= Staff.human_attribute_name :role %></th>
                    <th><%= Staff.human_attribute_name :participating_dojo %></th>
                    <th><%= Staff.human_attribute_name :name %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @staffs.each do |staff| %>
                  <tr>
                    <td><%= staff.role.label %></td>
                    <td><%= staff.participating_dojo&.display_name %></td>
                    <td><%= staff.display_name %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>