            <td>
              <div class="columns is-mobile is-centered is-gapless">
                <div class="column is-third">
                  <%= bulma_form_with url: update_judging_path(@taikai, participant) do |form| %>
                    <%= form.hidden_field :status, value: "hit" %>
                    <%= form.button class: "button is-small" do %>
                      <span class="icon is-small">
                        <i class="far fa-circle"></i>
                      </span>
                    <% end %>
                  <% end %>
                </div>
                <div class="column is-third">
                  <%= bulma_form_with url: update_judging_path(@taikai, participant) do |form| %>
                    <%= form.hidden_field :status, value: "miss" %>
                    <%= form.button class: "button is-small" do %>
                      <span class="icon is-small">
                        <i class="fas fa-xmark"></i>
                      </span>
                    <% end %>
                  <% end %>
                </div>
                <div class="column is-third">
                  <%= bulma_form_with url: update_judging_path(@taikai, participant) do |form| %>
                    <%= form.hidden_field :status, value: "unknown" %>
                    <%= form.button class: "button is-small" do %>
                      <span class="icon is-small">
                        <i class="fas fa-question"></i>
                      </span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </td>
            <% participant.results.each do |result| %>
              <td>
                <a href="#" class="button is-small is-text">
                <% if result.status_hit? %>
                <span class="icon is-small">
                  <i class="far fa-circle"></i>
                </span>
                <% elsif result.status_miss? %>
                <span class="icon is-small">
                  <i class="fas fa-xmark"></i>
                </span>
                <% elsif result.status_unknown? %>
                <span class="icon is-small">
                  <i class="fas fa-question"></i>
                </span>
                <% else %>
                <span class="icon is-small">

                </span>
                <% end %>
                </a>
              </td>
            <% end %>
            <th><%= participant.total %></th>
