<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <img src="/logo_cnkyudo-archers_72dpi.webp" alt="Comité National du Kyudo">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="<%= taikais_path %>">Taikais</a>
      <a class="navbar-item" href="<%= dojos_path %>">Dojos</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to "Account", edit_user_registration_path, class: "button is-light" %>
            <%= link_to "Log out", destroy_user_session_path, class: "button is-light",  method: :delete %>
          <% else %>
            <%- if controller_name != 'sessions' %>
              <%= link_to "Log in", new_session_path(:user), class: "button is-dark" %><br />
            <% end %>
            <%- if controller_name != 'registrations' %>
              <%= link_to "Sign up", new_registration_path(:user), class: "button is-light" %><br />
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>