<nav class="navbar has-background-info-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.kyudo.fr/">
      <img src="/logo_fr.jpg" alt="Comité National De Kyudo">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to taikais_path, class: "navbar-item #{controller_name == "taikais" ? "is-active" : "" }" do %>
        <span class="icon is-medium mr-2" style="white-space:nowrap">大会</span>
        <span><%= Taikai.model_name.human count: 2 %></span>
      <% end %>
      <%= link_to dojos_path, class: "navbar-item #{controller_name == "dojos" ? "is-active" : "" }" do %>
        <span class="icon is-medium">
          <span class="icon level is-medium mr-2" style="white-space:nowrap">道場</span><%# TODO: fix style %>
        </span>
        <span><%= Dojo.model_name.human count: 2 %></span>
      <% end %>
    </div>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <%= link_to '/docs/guide.pdf', target: '_blank', class: "navbar-item #{controller_name == "dojos" ? "is-active" : "" }" do %>
          <span class="icon is-medium">
            <i class="fas fa-compass"></i>
          </span>
          <span><%= t '.guide' %></span>
        <% end %>
        <%= link_to '/docs/tutorial.pdf', target: '_blank', class: "navbar-item #{controller_name == "dojos" ? "is-active" : "" }" do %>
          <span class="icon is-medium">
            <i class="fas fa-circle-question"></i>
          </span>
          <span><%= t '.tutorial' %></span>
        <% end %>
      <% end %>
        <div class="navbar-item">
        <div class="buttons">
          <% if (!user_signed_in?) %>
            <%= link_to new_user_session_path, class: "button is-normal" do %>
              <span class="icon is-medium">
                <i class="fas fa-sign-in-alt"></i>
              </span>
              <span><%= t 'devise.sessions.new.sign_in' %></span>
            <% end %>
            <%= link_to new_user_registration_path, class: "button" do %>
              <span class="icon is-medium">
                <i class="fas fa-user-plus"></i>
              </span>
              <span><%= t 'devise.registrations.new.sign_up' %></span>
            <% end %>
          <% else %>


            <%= link_to edit_user_registration_path,
              class: "button is-info" do %>
              <span class="icon is-medium">
                <i class="fas fa-cog"></i>
              </span>
              <span><%= t 'devise.registrations.edit.my_account' %></span>
            <% end %>
            <%= link_to destroy_user_session_path,
              class: "button",
              data: { turbo_method: :delete } do %>
              <span class="icon is-medium">
                <i class="fas fa-power-off"></i>
              </span>
              <span><%= t 'devise.sessions.sign_out' %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>