<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>PiKaichu<%= @page_title ? " - #{@page_title}" : "" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "nav" %>
    <section class="section">
      <div class="container">
        <% if notice %>
        <div class="notification is-info mb-5">
          <button class="delete"></button>
          <%= sanitize(notice) %>
        </div>
        <% end %>
        <% if alert %>
        <div class="notification is-danger mb-5">
          <button class="delete"></button>
          <%= sanitize(alert) %>
        </div>
        <% end %>
      </div>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </section>
  </body>
</html>
